#root {
  height: 100%; 
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

@media (min-width: 769px) {
  .wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
    max-width: 48rem;
    flex: 1 1 0%;
    height: 95vh;
  }
}
